<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.4/engine/Shopware/Components/Plugin/schema/config.xsd">
	
	<label>Google Merchant Center</label>
	
	<elements>
		<element type="textarea" scope="shop">
			<name>merchant_info</name>
			<label>Google Merchant Center Konto Info</label>
			<description><![CDATA[
                <div>
                    <p>Angabe der relevanten Daten zum Google Merchant Center - Konto</p>
                    <p><strong>Achtung! Daten müssen im JSON-Format vorliegen!</strong></p>
                    <p>Beispiel:<br/>
                    {<br/>
					  "merchantId": 123456789,<br/>
					  "accountUser": "foo@bar.com",<br/>
					  "accountAdWordsCID": 987654321<br/>
					}</p>
                </div>
            ]]></description>
		</element>
		
		<element type="textarea" scope="shop">
			<name>service_account</name>
			<label>Google Service Account Info</label>
			<description><![CDATA[
                <div>
                    <p>Angabe der relevanten Daten zum Google Service Account</p>
                    <p><strong>Achtung! Daten müssen im JSON-Format vorliegen!</strong></p>
                    <p>Beispiel:<br/>
                    {<br/>
  						"type": "service_account",<br/>
  						"private_key": "-----BEGIN PRIVATE KEY-----\n [...] \n-----END PRIVATE KEY-----\n",<br/>
  						"client_email": "merchant-center-123456789@merchant-center-123456789.iam.gserviceaccount.com",<br/>
  						"client_id": "123456789123456789"<br/>
					}</p>
                </div>
            ]]></description>
		</element>
		
		<element type="boolean" scope="shop">
			<name>google_show_badge</name>
			<label>Google Händlerrezension Badge anzeigen?</label>
			<value>true</value>
		</element>
		
		<element type="select" scope="shop">
			<name>google_badge_position</name>
			<label>Badge Position</label>
			<value>BOTTOM_LEFT</value>
			<store>
				<option>
					<value>BOTTOM_RIGHT</value>
					<label>BOTTOM_RIGHT</label>
				</option>
				<option>
					<value>BOTTOM_LEFT</value>
					<label>BOTTOM_LEFT</label>
				</option>
				<option>
					<value>INLINE</value>
					<label>INLINE</label>
				</option>
			</store>
		</element>
		
		<element type="select" scope="shop">
			<name>google_survey_opt_in_style</name>
			<label>Opt-In Style</label>
			<value>CENTER_DIALOG</value>
			<description><![CDATA[
                <div>
                    <p>Gibt an, wie das Dialogfeld des Opt-in-Moduls angezeigt werden soll. Mögliche Werte:</p>
                    <ul>
                        <li>"<b>CENTER_DIALOG</b>": Das Dialogfeld wird in der Mitte der Ansicht angezeigt.</li>
                        <li>"<b>BOTTOM_RIGHT_DIALOG</b>": Das Dialogfeld wird rechts unten in der Ansicht angezeigt.</li>
                        <li>"<b>BOTTOM_LEFT_DIALOG</b>": Das Dialogfeld wird links unten in der Ansicht angezeigt.</li>
                        <li>"<b>TOP_RIGHT_DIALOG</b>": Das Dialogfeld wird rechts oben in der Ansicht angezeigt.</li>
                        <li>"<b>TOP_LEFT_DIALOG</b>": Das Dialogfeld wird links oben in der Ansicht angezeigt.</li>
                        <li>"<b>BOTTOM_TRAY</b>": Das Dialogfeld wird unten in der Ansicht angezeigt.</li>
                    </ul>
                    <p>Der Standardwert ist "<b>CENTER_DIALOG</b>".</p>
                </div>
            ]]></description>
			<store>
				<option>
					<value>CENTER_DIALOG</value>
					<label>CENTER_DIALOG</label>
				</option>
				<option>
					<value>BOTTOM_RIGHT_DIALOG</value>
					<label>BOTTOM_RIGHT_DIALOG</label>
				</option>
				<option>
					<value>BOTTOM_LEFT_DIALOG</value>
					<label>BOTTOM_LEFT_DIALOG</label>
				</option>
				<option>
					<value>TOP_RIGHT_DIALOG</value>
					<label>TOP_RIGHT_DIALOG</label>
				</option>
				<option>
					<value>TOP_LEFT_DIALOG</value>
					<label>TOP_LEFT_DIALOG</label>
				</option>
				<option>
					<value>BOTTOM_TRAY</value>
					<label>BOTTOM_TRAY</label>
				</option>
			</store>
		</element>
		
		<element type="number" scope="shop">
			<name>google_default_shipping_time_not_in_stock</name>
			<label>Lieferzeit nicht verfügbare Artikel (in Tagen)</label>
			<value>14</value>
			<description><![CDATA[
                <div>
                    <p>Lieferzeit für nicht verfügbare Artikel. Wert wird für den kompletten Warenkorb verwendet, sofern ein Artikel nicht lieferbar ist.</p>
                </div>
            ]]></description>
		</element>
		
		<element type="number" scope="shop">
			<name>cronjob_handle_gmc_queue_limit</name>
			<label>Limit für die Anzahl der Produkte, die pro Cronjob-Durchlauf als Produktfeed an Google übertragen werden</label>
			<value>10</value>
			<description></description>
		</element>
		
		<element type="boolean" scope="shop">
			<name>category_condition_show_unlinked</name>
			<label>Bei gewähltem Fahrzeug Artikel anzeigen, die keine Fahrzeuginfos haben?</label>
			<value>false</value>
		</element>
		
		<element type="select" scope="shop">
			<name>log_level</name>
			<label>Loglevel</label>
			<value>300</value>
			<description></description>
			
			<!--
				DEBUG = 100
				INFO = 200
				NOTICE = 250
				WARNING = 300
				ERROR = 400
				CRITICAL = 500
				ALERT = 550EMERGENCY = 600
			-->
			
			<store>
				<option>
					<value>100</value>
					<label>DEBUG</label>
				</option>
				<option>
					<value>300</value>
					<label>WARNING</label>
				</option>
				<option>
					<value>400</value>
					<label>ERROR</label>
				</option>
			</store>
		</element>
		
		<element type="textarea" scope="shop">
			<name>bad_words</name>
			<label>Wortersetzungen</label>
	<value>{
 "search": [
	"!_rauch_"
 ],
 "replace": [
	"dunkel getönt"
 ]
}</value>
			<description><![CDATA[
                <div>
                    <p>Syntax : [!_]suchwort[_]</p>
                    <ul style="list-style-type:none;">
                    <li>! : Groß- Kleinschreibung wird ignoriert</li>
                    <li>_ : wird bei der Suche durch ein Leerzeichen ersetzt
                    </ul>
                    <p>Beispiele</p>
                    <ul style="list-style-type:none;">
                    <li>!_rauch findet "rauch", "Rauch", "rAuch", "Rauchmelder" - findet nicht: "Brauch", "strauch"</li>
                    <li>_rauch findet "rauch", "rauchfrei" - findet nicht: "Rauch", "Brauch", "strauch"</li>
                    <li>!_rauch_ findet "rauch", "Rauch", "rAuch" - findet nicht: "Brauch", "strauch", "Rauchmelder"</li>
                    <li>_rauch_ findet "rauch", "rauch" - findet nicht: "Rauch", "Brauch", "rauchfrei"</li>
                    </ul>
                </div>
            ]]></description>
		</element>
	</elements>
</config>