<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/plugin.xsd">
	
	<label lang="de">ITSW Car</label>
	<label lang="en">ITSW Car</label>
	
	<version>2.5.0</version>
	<copyright>(c) by IT Service Wunglück</copyright>
	<license>MIT</license>
	<link>https://www.itsw.dev</link>
	<author>IT Service Wunglück</author>
	<compatibility minVersion="5.6.0" maxVersion="5.99.99"/>
	
	<description lang="de">.</description>
	<description lang="en">.</description>
	
	<changelog version="1.0.0">
		<changes lang="de">Initialisierung / Erstveröffentlichung</changes>
		<changes lang="en">Initialization / First release</changes>
	</changelog>
	<changelog version="1.0.1">
		<changes lang="de">Artikelattribute Position 1 - 4 hinzugefügt</changes>
		<changes lang="en">Article attributes Position 1 - 4 added</changes>
	</changelog>
	<changelog version="1.0.2">
		<changes lang="de">Update auf select2 4.1.0-rc.0</changes>
		<changes lang="en">Update to select2 4.1.0-rc.0</changes>
	</changelog>
	<changelog version="1.0.3">
		<changes lang="de">Neues Feld "top_brand" in Herstellertabelle</changes>
		<changes lang="en">New column "top_brand" in manufacturers table</changes>
	</changelog>
	<changelog version="1.0.4">
		<changes lang="de">Rabattpreis eingeführt</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.0.5">
		<changes lang="de">.</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.0.6">
		<changes lang="de">neues URL-Handling</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.0.7">
		<changes lang="de">Kontaktformular erweitert</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.0.8">
		<changes lang="de">API Endpoint ExtendedArticles::getList um Preise erweitert</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.0.9">
		<changes lang="de">Bug in CustomerGroupConditionHandler behoben</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.0.10">
		<changes lang="de">Texte geändert</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.0.11">
		<changes lang="de">Nicht vorhandene TecdocIds werden beim Anlegen der Artikel-Links ignoriert und führen nicht mehr zum Abbruch der Operation</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.0.12">
		<changes lang="de">Fehler in CarFinder behoben</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.0.13">
		<changes lang="de">BasePath unterdrückt im FrontRouter</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.0.14">
		<changes lang="de">Neues Artikel-Attribut "OE-Nummern"</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.0.15">
		<changes lang="de">.</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.0.16">
		<changes lang="de">.</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.0.17">
		<changes lang="de">Google Indexing API angebunden</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.1.0">
		<changes lang="de">Google Content API eingebunden</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.1.1">
		<changes lang="de">Konfigurationsoptionen im Backend eingeführt</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.2.0">
		<changes lang="de">Google Kundenrezension eingeführt</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.2.1">
		<changes lang="de">Fake Preis eingeführt</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.2.2">
		<changes lang="de">Bugfixes / Attribute "position_x" entfernt</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.3.0">
		<changes lang="de">Gewähltes Fahrzeug wird im Warenkorb/bei der Bestellung gespeichert</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.3.2">
		<changes lang="de">SEO bei Detailview</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.4.0">
		<changes lang="de">SEO-freundliche URLs bei gewählten Fahrzeugen</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="1.4.1">
		<changes lang="de">Cronjob zum Übermitteln der Produktfeeds an das Google Merchant Center</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="2.0">
		<changes lang="de">Komplettes rebase des Code</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="2.0.2">
		<changes lang="de">URL-Handling verbessert</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="2.1">
		<changes lang="de">Bugfixes; Sitemap generiert Fahrzeug-URLs
		</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="2.1.3">
		<changes lang="de">Zahlungsfrist für Vorkassebestellungen</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="2.2.0">
		<changes lang="de">Garage hinzugefügt</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="2.2.6">
		<changes lang="de">Google Shopping Versandländer hinzugefügt</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="2.3.0">
		<changes lang="de">Fahrzeugliste/Schnellwahl hinzugefügt</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="2.3.1">
		<changes lang="de">Modifizierter flatpickr hinzugefügt (passiver Listener)</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="2.4.1">
		<changes lang="de">Artikelpreise werden als History gespeichert</changes>
		<changes lang="en">.</changes>
	</changelog>
	<changelog version="2.5.0">
		<changes lang="de">Neues Konsolen-Kommando eingeführt: itsw:media:delete:bychecksum</changes>
		<changes lang="en">.</changes>
	</changelog>
</plugin>
