/**
 * Projekt: ITSW Car
 * Autor:   Rico Wunglück <development@itsw.dev>
 * Datum:   03.05.2021
 * Zeit:    17:45
 * Datei:   tweaks.less
 */

.navigation-main {
  display: none;
}

.select2-result__text {
  display: inline-block;
}

.select2-result__renderdata {
  color: #323232;
  display: inline-block;
  .unitize(padding-left, 10);
  font-style: italic;
}